@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Outfit:wght@300&family=Red+Hat+Text&display=swap');

:root {
  --correctAns: #14c234;
  --wrongAns: #ff0000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
}

.container {
  width: 80%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 5px;
  padding: 10px;
}

.btn {
  margin-top: 10px;
  border: 1px solid white;
  background-color: darkblue;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  width: 100%;
  color: white;
  outline: none;
}

.btn:last-child {
  margin-bottom: 20px;
}
.btn:hover {
  background-color: purple;
}

.start_btn,
.next_btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.hide {
  display: none;
}

.correct {
  background-color: var(--correctAns);
}

.wrong {
  background-color: var(--wrongAns);
}
